{% extends '@EasyAdmin/layout.html.twig' %}

{% set dice = player.dices|split('-') %}
{% set res = player.result|split(',') %}

{% block main %}
<div>Bienvenue {{ player.name|capitalize }} pour la partie</div>
<br/>

<div>Dernier jet:
  {% for key, die in dice %}
	{% if die == "b" %}
	   <img src="/img/dice/blue.png" style="max-height:40px;" title="blue" />
	{% elseif die == "d" %}
	   <img src="/img/dice/dark.png" style="max-height:40px;" title="dark" />
	{% elseif die == "g" %}
	   <img src="/img/dice/green.png" style="max-height:40px;" title="green" />
	{% elseif die == "y" %}
	   <img src="/img/dice/yellow.png" style="max-height:40px;" title="yellow" />
	{% elseif die == "p" %}
	   <img src="/img/dice/purple.png" style="max-height:40px;" title="purple" />
	{% elseif die == "r" %}
	   <img src="/img/dice/red.png" style="max-height:40px;" title="red" />
	{% elseif die == "f" %}
	   <img src="/img/dice/force.png" style="max-height:40px;" title="force" />
	{% endif %}
  {% endfor %}
</div>
<br/>

<div>Résultat obtenu:
  {% for key, r in res %}
    <img src="/img/faces/{{ r }}.png" style="max-height:40px;" title="{{ r }}" />
  {% endfor %}
</div>
</br>

<div>
  {% if player.picture %}
    <img src="{{ player.picture }}" style="max-width:250px;" />
  {% endif %}
</div>

{% endblock %}

{% block body_javascript %}
{% endblock %}
