<!DOCTYPE html>
<html style="height: 100%;">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ "Tabletop Support"|trans }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="background:url('{{ asset('img/bb-bg.jpg') }}') no-repeat; background-size:cover; height: 100%">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
